body {
  background-color: gray;
}

.inport {
  display: block;
}

.left-sidebar {
  position: absolute;
  right: 80%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: lightgray;
}

ul {
  padding: 0;
}

.log-window {
  background-color: white;
  position: absolute;
  top: 70%;
  white-space: pre-line;
  bottom: 0;
  left: 20%;
  right: 0;
  overflow: auto;
}

.graph-window {
  position: absolute;
  left: 20%;
  bottom: 30%;
  width: 80%;
  height: 70%;
}
